
Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

In [137]:
import pandas as pd

In [138]:
df = pd.read_excel(r"C:\Users\sathi\Downloads\Clean.xlsx")

In [139]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [140]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [141]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4             0  Iris-setosa
1   2            4.9           3.0            1.4             0  Iris-setosa
2   3            NaN           3.2            1.3             0  Iris-setosa
3   4            4.6           3.1            1.5             0  Iris-setosa
4   5            5.0           3.6            1.4             0  Iris-setosa

In [142]:
df.isna().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

### Filling missing values

In [143]:
df["SepalLengthCm"].fillna(df["SepalLengthCm"].median(),inplace=True)

In [144]:
df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace=True)

In [145]:
df["PetalLengthCm"].fillna(df["PetalLengthCm"].median(),inplace=True)

In [146]:
df["PetalWidthCm"].fillna(df["PetalWidthCm"].median(),inplace=True)

In [147]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          5
dtype: int64

In [148]:
df["Species"].fillna(df["Species"].mode()[0],inplace=True)

In [149]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Outliers

In [150]:
df[(df["SepalLengthCm"]<0.5) | (df["SepalLengthCm"]>8)] = df["SepalLengthCm"].median()

C:\Users\sathi\AppData\Local\Temp\ipykernel_12956\2075571216.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[(df["SepalLengthCm"]<0.5) | (df["SepalLengthCm"]>8)] = df["SepalLengthCm"].median()

In [151]:
df[(df['SepalWidthCm']<0.5 ) | (df['SepalWidthCm']> 5)] = df["SepalWidthCm"].median()

In [152]:
df[(df['PetalLengthCm']< 0.5) | (df['PetalLengthCm']> 7)] = df["PetalLengthCm"].median()

In [153]:
df[(df["PetalWidthCm"]< 0) | (df["PetalWidthCm"]> 2)] = df["PetalWidthCm"].median()

### Detecting the Duplicates

In [154]:
df.drop("Id",axis=1,inplace=True)

In [155]:
df.duplicated().sum()

22

### Droping the Duplicates

In [156]:
df.drop_duplicates(keep="first",inplace=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.0  Iris-setosa
1            4.9           3.0            1.4           0.0  Iris-setosa
2            5.8           3.2            1.3           0.0  Iris-setosa
3            4.6           3.1            1.5           0.0  Iris-setosa
4            5.0           3.6            1.4           0.0  Iris-setosa

In [157]:
df.duplicated().sum()

0

### TypeCasting

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float64
 1   SepalWidthCm   138 non-null    float64
 2   PetalLengthCm  138 non-null    float64
 3   PetalWidthCm   138 non-null    float64
 4   Species        138 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.5+ KB

In [159]:
df["SepalLengthCm"] = df["SepalLengthCm"].astype("float16")

In [160]:
df["SepalWidthCm"] = df["SepalWidthCm"].astype("float16")

In [161]:
df["PetalLengthCm"] = df["PetalLengthCm"].astype("float16")

In [162]:
df["PetalWidthCm"] = df["PetalWidthCm"].astype("float16")

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float16
 1   SepalWidthCm   138 non-null    float16
 2   PetalLengthCm  138 non-null    float16
 3   PetalWidthCm   138 non-null    float16
 4   Species        138 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.2+ KB