# Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14. Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\sathi\Downloads\studens_data.csv")

In [3]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

1. Find all Statistic Measures

### Statistic Measures on GPA Feature

In [4]:
GPA = df["GPA"]

In [5]:
GPA.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: GPA
Non-Null Count  Dtype
--------------  -----
105 non-null    float64
dtypes: float64(1)
memory usage: 972.0 bytes

In [6]:
GPA.describe()

count    105.000000
mean      82.957048
std        6.053187
min       63.490000
25%       79.340000
50%       84.110000
75%       87.300000
max       93.710000
Name: GPA, dtype: float64

In [7]:
GPA.median()

84.11

In [8]:
GPA.mode()

0    77.53
1    87.30
Name: GPA, dtype: float64

In [9]:
GPA.var()

36.64106716117215

In [10]:
GPA.std()

6.053186529520807

In [11]:
Algebra = df["Algebra"]

In [12]:
Algebra.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Algebra
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [13]:
Algebra.describe()

count    105.000000
mean      76.057143
std       11.722618
min       46.000000
25%       67.000000
50%       76.000000
75%       84.000000
max       98.000000
Name: Algebra, dtype: float64

In [14]:
Algebra.median()

76.0

In [15]:
Algebra.mode()

0    82
Name: Algebra, dtype: int64

In [16]:
Algebra.std()

11.722618317585036

In [17]:
Algebra.var()

137.41978021978022

In [18]:
Calculus1 = df["Calculus1"]

In [19]:
Calculus1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Calculus1
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [20]:
Calculus1.describe()

count    105.000000
mean      71.961905
std       12.197039
min       38.000000
25%       64.000000
50%       73.000000
75%       80.000000
max      100.000000
Name: Calculus1, dtype: float64

In [21]:
Calculus1.median()

73.0

In [22]:
Calculus1.mode()

0    60
Name: Calculus1, dtype: int64

In [23]:
Calculus1.var()

148.76776556776557

In [24]:
Calculus1.std()

12.197039213176515

In [25]:
Calculus2 = df["Calculus2"]

In [26]:
Calculus2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Calculus2
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [27]:
Calculus2.describe()

count    105.000000
mean      78.942857
std       14.997326
min       17.000000
25%       71.000000
50%       83.000000
75%       91.000000
max       99.000000
Name: Calculus2, dtype: float64

In [28]:
Calculus2.median()

83.0

In [29]:
Calculus2.mode()

0    71
1    85
Name: Calculus2, dtype: int64

In [30]:
Calculus2.var()

224.91978021978022

In [31]:
Calculus2.std()

14.997325768942282

In [32]:
Statistics = df["Statistics"]

In [33]:
Statistics.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Statistics
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [34]:
Statistics.describe()

count    105.000000
mean      85.133333
std       10.269509
min       51.000000
25%       80.000000
50%       87.000000
75%       92.000000
max      100.000000
Name: Statistics, dtype: float64

In [35]:
Statistics.median()

87.0

In [36]:
Statistics.mode()

0    92
Name: Statistics, dtype: int64

In [37]:
Statistics.var()

105.4628205128205

In [38]:
Statistics.std()

10.269509263485793

In [39]:
Probability = df["Probability"]

In [40]:
Probability.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Probability
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [41]:
Probability.describe()

count    105.000000
mean      83.876190
std       10.514363
min       29.000000
25%       79.000000
50%       85.000000
75%       92.000000
max       97.000000
Name: Probability, dtype: float64

In [42]:
Probability.median()

85.0

In [43]:
Probability.var()

110.55183150183149

In [44]:
Probability.std()

10.51436310490709

In [45]:
Probability.mode()

0    82
Name: Probability, dtype: int64

In [46]:
Measure = df["Measure"]

In [47]:
Measure.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Measure
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [48]:
Measure.describe()

count    105.000000
mean      80.761905
std       10.296119
min       54.000000
25%       74.000000
50%       81.000000
75%       89.000000
max      100.000000
Name: Measure, dtype: float64

In [49]:
Measure.std()

10.296119330120122

In [50]:
Measure.var()

106.01007326007326

In [51]:
Measure.mode()

0    87
Name: Measure, dtype: int64

In [52]:
Measure.median()

81.0

In [53]:
Functional_analysis = df["Functional_analysis"]

In [54]:
Functional_analysis.info()

<class 'pandas.core.series.Series'>
RangeIndex: 105 entries, 0 to 104
Series name: Functional_analysis
Non-Null Count  Dtype
--------------  -----
105 non-null    int64
dtypes: int64(1)
memory usage: 972.0 bytes

In [55]:
Functional_analysis.describe()

count    105.000000
mean      75.323810
std       13.003324
min        9.000000
25%       67.000000
50%       76.000000
75%       85.000000
max      100.000000
Name: Functional_analysis, dtype: float64

In [56]:
Functional_analysis.median()

76.0

In [57]:
Functional_analysis.mode()

0    64
Name: Functional_analysis, dtype: int64

In [58]:
Functional_analysis.var()

169.08644688644688

In [59]:
Functional_analysis.std()

13.003324455170949

2. Which subject has highest average ?

In [6]:
df.head(1)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60

In [8]:
average = df.iloc[:,4:].mean()

print(average)

print("Highest Average =",average.idxmax())

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64
Highest Average = Statistics

3. What are the Student IDs who got more tham 80% GPA?

In [71]:
df[(df["GPA"]>80)]["ID"]

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

4. How many female students are there in the class?

In [72]:
len(df[df["gender"] == "female"])

68

5. What is the ratio of male students and female students?

In [7]:

male = len(df[df["gender"]=="male"])
female = len(df[df["gender"]=="female"])
print(f"{male} : {female}")

37 : 68

6. What are the marks of male students in statistics ?

In [9]:
df.head(1)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60

In [13]:
df[df["gender"]=="male"]["Statistics"]

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

7. What is the ID of the class topper ?

In [13]:
topper_gpa = df["GPA"].idxmax()
topper_gpa

104

In [8]:
topper_id = df.loc[topper_gpa,"ID"]
print(f"Topper Id : {topper_id}")

Topper Id : 1245

8. What is the gender of probabilty topper?

In [9]:
df.head(1)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60

In [14]:
a = df["Probability"].max()
a

97

In [16]:
df.loc[a,"gender"]

'male'

9. Create Pivot Table for gender and class?

In [17]:
pd.crosstab(df["gender"],df["class"])

class    A   B
gender
female  48  20
male    28   9

10. Which subject got least average marks.?

In [20]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [25]:
average = df.iloc[:,4:].mean()
print("Least Average =",average.min())

Least Average = 71.96190476190476

11. How many male and female students are there ?

In [26]:
df["gender"].value_counts()

gender
female    68
male      37
Name: count, dtype: int64

12. How many female student are there from class A?

In [37]:
len(df[(df["class"]=="A") & (df["gender"]=="female")])

48

13. Which class has more strength ?

In [47]:
df["class"].value_counts() #class A has more strength

class
A    76
B    29
Name: count, dtype: int64

14. Sort the data as per algebra ?

In [48]:
df.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

15. How many students got exactly 64 marks from functional analysis?

In [51]:
sum(df["Functional_analysis"] == 64)

8