### Pandas Series

1.Create pandas series with different data types in different ways

2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [1]:
import pandas as pd

In [16]:
# from list
ages = list(range(20,50))

In [18]:
pd.Series(ages,index = list(range(1,31)))

1     20
2     21
3     22
4     23
5     24
6     25
7     26
8     27
9     28
10    29
11    30
12    31
13    32
14    33
15    34
16    35
17    36
18    37
19    38
20    39
21    40
22    41
23    42
24    43
25    44
26    45
27    46
28    47
29    48
30    49
dtype: int64

In [4]:
#from tuple
ages = tuple(range(18,40))

In [5]:
pd.Series(ages)

0     18
1     19
2     20
3     21
4     22
5     23
6     24
7     25
8     26
9     27
10    28
11    29
12    30
13    31
14    32
15    33
16    34
17    35
18    36
19    37
20    38
21    39
dtype: int64

In [6]:
#from Dictionary
data = {"A":"Sathish","B":"Uday","C":"Adnan","D":"Raheem"}

In [7]:
pd.Series(data)

A    Sathish
B       Uday
C      Adnan
D     Raheem
dtype: object

In [8]:
#from Numpy array
import numpy as np
ages = np.arange(20,40)

In [9]:
pd.Series(ages)

0     20
1     21
2     22
3     23
4     24
5     25
6     26
7     27
8     28
9     29
10    30
11    31
12    32
13    33
14    34
15    35
16    36
17    37
18    38
19    39
dtype: int32

2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [21]:
data = pd.Series( [10,30,40,1,3,6,14,18,23],index= list(range(100,109)))

In [22]:
data

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [23]:
data.head()

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [24]:
data.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [26]:
data.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [27]:
data.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [28]:
salaries = pd.Series(np.random.randint(30000,90000,30))

In [30]:
salaries.describe()

count       30.000000
mean     56635.833333
std      16580.978177
min      30519.000000
25%      43566.000000
50%      56213.500000
75%      64548.250000
max      89454.000000
dtype: float64

In [31]:
salaries.var()

274928837.316092

In [33]:
salaries.cov(salaries)

274928837.316092

In [35]:
salaries.median()

56213.5

In [36]:
salaries.mode()

0     30519
1     32008
2     32565
3     35904
4     40261
5     40549
6     40749
7     42354
8     47202
9     48722
10    48808
11    49949
12    53530
13    54101
14    55507
15    56920
16    56980
17    58640
18    60260
19    62106
20    62637
21    63025
22    65056
23    69433
24    72529
25    76189
26    80423
27    83633
28    89062
29    89454
dtype: int32

4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

In [37]:
ages = np.arange(18,40)

In [38]:
ages #numpy.array give only values, i,e not index based

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39])

In [40]:
ages = pd.Series(ages)
ages # pd.Series give the index values i,e index based

0     18
1     19
2     20
3     21
4     22
5     23
6     24
7     25
8     26
9     27
10    28
11    29
12    30
13    31
14    32
15    33
16    34
17    35
18    36
19    37
20    38
21    39
dtype: int32

#### numpy.array
1. Not Index Based 
2. Only Numerical data
3. It accepts only Homogenous datatype

#### pd.Series
1. Index based
2. Numarical and text data
3. It accepts Homoggenous and Hetorogenous datatypes

5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [41]:
num = pd.Series(np.arange(100,150))

In [42]:
num

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int32

### Indexing

In [44]:
num[4]

104

In [45]:
num[45]

145

In [49]:
num[25]

125

### Slicing

In [46]:
num[1:5]

1    101
2    102
3    103
4    104
dtype: int32

In [52]:
num[1:49:10]

1     101
11    111
21    121
31    131
41    141
dtype: int32