

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

### Assignment Task 1:
Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [2]:
fruits = ('mango','kiwi','banana','apple')
fruits

('mango', 'kiwi', 'banana', 'apple')

In [29]:
fruits[0]

'mango'

In [30]:
fruits[1]

'kiwi'

In [31]:
fruits[2]

'banana'

In [32]:
fruits[3]

'apple'

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [33]:
tuple1 = ('Python','Data Analytics','SQL')
tuple2 = ('Machine Learning ','Deep Learning','NLP')
concate = tuple1 + tuple2

In [37]:
print(concate)

('Python', 'Data Analytics', 'SQL', 'Machine Learning ', 'Deep Learning', 'NLP')

In [38]:
len(concate)

6

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [39]:
even_numbers = {2,4,6,8,10,12,14,16,18,20}
print(len(even_numbers))
print(even_numbers)

10
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

In [40]:
set_1 = {1,2,3,4,5,6}
set_2 = {4,5,6,7,8,9}

In [41]:
type(set_1)

set

In [42]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
set_1.intersection(set_2)

{4, 5, 6}

In [44]:
set_1.difference(set_2)

{1, 2, 3}

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [45]:
tuple_1 = (1,2,3,4,5,6,100,300)

In [46]:
set_1 = set(tuple_1)

In [47]:
set_1

{1, 2, 3, 4, 5, 6, 100, 300}

In [48]:
max(set_1)

300

In [49]:
min(set_1)

1

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

In [50]:
tuple_1 = (1,2,3,4,5,6)

In [51]:
tuple_1.add(3)

AttributeError: 'tuple' object has no attribute 'add'

In [52]:
tuple_1.remove(6)

AttributeError: 'tuple' object has no attribute 'remove'

 * tuple is a immutable data structures in python
 * we can't add or remove the elements from the tuple

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [56]:
set_1 = {1,23,43,45,43,34,54}
set_1

{1, 23, 34, 43, 45, 54}

In [57]:
set_1.add(6)
set_1

{1, 6, 23, 34, 43, 45, 54}

In [62]:
set_1.discard(45)
set_1

{1, 6, 23, 34, 43, 54}

In [63]:
34 in set_1

True

In [64]:
len(set_1)

6

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [66]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
len(tuple_1)

10

In [67]:
tuple_1[3:8]

(4, 5, 6, 7, 8)

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [69]:
list_1 = [1,2,3,4,4,3,5,6,7,5,6]
list_1

[1, 2, 3, 4, 4, 3, 5, 6, 7, 5, 6]

In [71]:
set_1 = set(list_1)
set_1

{1, 2, 3, 4, 5, 6, 7}

In [74]:
count_of_removed_duplicates = len(list_1)-len(set_1)
count_of_removed_duplicates

4

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [75]:
frnd_fvt = ('IronMan-1','CaptainAmerica','IronMan-3','The Avengers')
my_fvt = {'IronMan-1','The Avengers','SpiderMan','Avengers'}

In [78]:
common_movies = my_fvt.intersection(frnd_fvt)

In [79]:
print(common_movies)

{'The Avengers', 'IronMan-1'}