
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [1]:
list1 = [1,2,3,4,5,6,7,1.5,2.4,5.4,6.8,"Sathish","Uday","Adnan"] 
def dup(n):
    if type(n) == float :
        return n
    
list(filter(dup,list1))

[1.5, 2.4, 5.4, 6.8]

In [2]:
list1 = [1,2,3,4,5,6,7,1.5,2.4,5.4,6.8,"Sathish","Uday","Adnan"] 
def dup(n):
    if type(n) == str :
        return n
    
list(filter(dup,list1))

['Sathish', 'Uday', 'Adnan']

In [3]:
list1 = [1,2,3,4,5,6,7,1.5,2.4,5.4,6.8,"Sathish","Uday","Adnan"] 
def dup(n):
    if type(n) == int :
        return "Integer"
    elif type(n) == str :
        return "String"
    else :
        return "Float"
    
    
    
list(map(dup,list1))

['Integer',
 'Integer',
 'Integer',
 'Integer',
 'Integer',
 'Integer',
 'Integer',
 'Float',
 'Float',
 'Float',
 'Float',
 'String',
 'String',
 'String']

1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [4]:
a = lambda *n : sum(n)

In [5]:
a(2,4)

6

In [6]:
b = lambda n : n**2

In [7]:
b(5)

25

In [5]:
c = lambda *n : sum(n) 
d = lambda n : n**2

In [8]:
print(c(2,4))
print(d(5))

6
25

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

In [48]:
def list_1(n) :
    
    if n%2==0 :
        return n
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
list(filter(list_1,list1))

[2, 4, 6, 8, 10, 12, 14, 16]

In [49]:
def list_1(n) :
    
    if n>10 :
        return n
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
list(filter(list_1,list1))

[11, 12, 13, 14, 15, 16, 17]

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

In [11]:

def string(n):
    if list_2[0] == int(n):
        return n
list_2 = ["1","2","3","4","5"]
new_list = list(map(int,list_2))
new_list

[1, 2, 3, 4, 5]

In [13]:
def square(n):
    return n*n
square_list = list(map(square,new_list))
square_list

[1, 4, 9, 16, 25]

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [38]:
def bio(n):
    
    if n["age"] > 25:
        return n

names = [{"name" : "sathish","age" : 30},{"name" : "Uday","age": 20},{"name" : "Adnan","age": 28},{"name" : "Laxman","age": 32}]
a = list(filter(bio,names))
a

[{'name': 'sathish', 'age': 30},
 {'name': 'Adnan', 'age': 28},
 {'name': 'Laxman', 'age': 32}]

In [39]:
def bio_1(n):
    
    return {"name" : n["name"]}
list(map(bio_1,a))

[{'name': 'sathish'}, {'name': 'Adnan'}, {'name': 'Laxman'}]

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [4]:
def square(n) :
    return n*n
list_1 = []
num = int(input("How many number want to enter :: "))
for i in range(0,num+1) :
    num_1 = int(input("Enter a number :: "))
    list_1.append(num_1)
print("Original List : ",list_1)
a = list(map(square,list_1))
print("Square of each number : ",a)
def divide(n) :
    return n%3!=0
b = list(filter(divide,list_1))
print("Numbers that are not divisible by 3 : ",b)

How many number want to enter :: 6
Enter a number :: 2
Enter a number :: 3
Enter a number :: 4
Enter a number :: 5
Enter a number :: 6
Enter a number :: 7
Enter a number :: 8
Original List :  [2, 3, 4, 5, 6, 7, 8]
Square of each number :  [4, 9, 16, 25, 36, 49, 64]
Numbers that are not divisible by 3 :  [2, 4, 5, 7, 8]