1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

1. Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [3]:
website = input("Enter a website : ") #asking user to enter website 
website.startswith("www.") and website.endswith(".com") # checking the user gives the correct input or not

Enter a website : www.instragram.com

True

2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [14]:
name = "Innomatics"
course = "Data Science"
print("Hello World I am learning ",course," in ",name)
print("Hello World I am learning {} in {} ".format(course,name))
print(f"Hello World I am learning {course} in {name} ")
print("Hello World I am learning " + course + " in " + name)

Hello World I am learning  Data Science  in  Innomatics
Hello World I am learning Data Science in Innomatics
Hello World I am learning Data Science in Innomatics
Hello World I am learning Data Science in Innomatics

3. Replace `Science` with `Analysis` in the above output.

In [16]:
course.replace("Science","Analysis")

'Data Analysis'

`string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case

In [3]:
string = '     Hello World I am learning Python in Innomatics   '
print(len(string))
print(string[-23:-17])
a = string.strip()
print(a)
print(len(a))
print(a.upper())

54
Python
Hello World I am learning Python in Innomatics
46
HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS

5. What is the index number of 'World' in above string.

In [4]:
string

'     Hello World I am learning Python in Innomatics   '

In [5]:
string.index("World") #before removing whitespace

11

In [7]:
a.index("World") # after removing whitespace

6

6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [32]:
string

'     Hello World I am learning Python in Innomatics   '

In [37]:
b = string.split()
b

['Hello', 'World', 'I', 'am', 'learning', 'Python', 'in', 'Innomatics']

In [38]:
type(b)

list

7. How many times 'a' is `repeated` in above string.

In [39]:
string

'     Hello World I am learning Python in Innomatics   '

In [42]:
string.count("a")

3